<p id="notice"><%= notice %></p>

<div data-behavior="todo-list">
  <h1>5 Incomplete Todos</h1>

  <ul>
    <% @todos.each do |todo| %>
      <li data-behavior="todo" data-id="<%= todo.id %>">
        <%= check_box_tag :complete, 1, todo.completed?, data: { behavior: "todo-toggle" } %>
        <span data-behavior="todo-description">
          <% if todo.completed? %>
            <del><%= todo.description %></del>
          <% else %>
            <%= todo.description %>
          <% end %>
        </span>
      </li>
    <% end %>
  </ul>
</div>

<br>

<%= link_to 'New Todo', new_todo_path %>
